@import "./Medidas";
.proyectos-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    @include tablet{
        flex-wrap: wrap;
    }
    .proyectos-card{
        background-color: #fff;
        width: 300px;
        padding: 10px;
        color: #000;
        border-radius: 30px;
        @include tablet{
            
        }
        @include mobile {
            width: 60%;
            
        }
        .img-container{
            width: 300px;
            @include mobile {
                width: 100%;
            }
            .img{
                width: 100%;
            }
        }
       .tecnologias-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
       
        .url{
            
            color: #000;
            font-size: 48px;
            cursor: pointer;
        }
        
        
       }
      
        display: flex;
        flex-direction: column;
        .links{
            display: flex;
            flex-direction: column;
            .links-url{
                margin-right: 10px;
                color: #000;
                font-size: 38px;
                cursor: pointer;
                transition: 1s;
        &:hover{
            color: red;
            transition: 1s;
            
        }
    }
        }
       }
    }

